doctype html
html(lang="en")
  head       
  meta(charset='utf-8')
  |         
  title Making Awesome Apps and Games
  |         
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  |         
  meta(name='description', content='')
  |         
  meta(name='author', content='')
  |         
  link(href='http://fonts.googleapis.com/css?family=Oswald', rel='stylesheet', type='text/css')
  |         
  link(href='./bootstrap/css/bootstrap.css', rel='stylesheet')
  |         
  link(href='./bootstrap/css/bootstrap-responsive.css', rel='stylesheet')
  |      
  link(href='./style.css', rel='stylesheet')
  |    
  style.

   .app-section {
    margin-top: 100px;
    padding: 60px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    color: inherit;
    background-color: #dede;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    font-family: "Oswald",Arial, sans-serif;
    text-transform: uppercase;
    }

    .marketing-message {
    margin-top: 100px;
    padding: 60px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    color: inherit;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    font-family: "Oswald",Arial, sans-serif;
    text-transform: uppercase;
    }
    .marketing-message h1 {
    color: #7bb932;
    border-color: #7bb932;
    text-align: center;
    font-weight: 400 !important;
    }
    .navbar-inverse .navbar-inner {
    padding-top: 8px;
    padding-bottom: 8px;
    background-image: linear-gradient(to bottom, #262626, #262626);
    }
    .img-responsive {
    margin: 0 auto;
    }
    .center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    }
  |         
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='#')
            img(src='logo_v1.png')
    |     
    .container
      .marketing-message
        h1 Making Awesome apps and games one at a time!
        |           
        br
        |           
        br
        |          
        p Check out latest releases!
    
    .listing
        .entry
            .entry-thumb
              p
                img(src='images/motorun.png')
              |       
              span.icon
            |     
            .entry-content
              h2.entry-title Motorun
              p Ride fast and hard. One of the most addictive physics based game ever made! And it's free! In this simple and fast-paced physics-based free motorbike game, tilt your device or use controls to lean your motorbike and touch the screen to accelerate/brake.


    a(href='https://github.com/vkreal/kreal-web')
        img(style='position: absolute; top: 0; right: 0; border: 0; z-index: 1031;', src='https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67', alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png')

    // Placed at the end of the document so the pages load faster
    script(src='http://fb.me/react-0.13.1.js')