doctype html
html(lang="en")
  head       
  meta(charset='utf-8')
  |         
  title Making Awesome Apps and Games
  |         
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  |         
  meta(name='description', content='')
  |         
  meta(name='author', content='')
  |         
  link(href='http://fonts.googleapis.com/css?family=Oswald', rel='stylesheet', type='text/css')
  |         
  link(href='./bootstrap/css/bootstrap.css', rel='stylesheet')
  |         
  link(href='./bootstrap/css/bootstrap-responsive.css', rel='stylesheet')
  |      
  link(href='./style.css', rel='stylesheet')
  |       
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='#')
            img(src='logo_v1.png')
    |     
    .container
      .marketing-message
        h1 Making Awesome apps and games one at a time!
        |           
        h2 Design and Code: Vorun Kreal
        br
        |           
        br
        |          
        p Check out our latest releases!
    
    .listing
        // start dth2
        .entry
            .entry-thumb
              p
                img(src='images/dth2.png')
            |     
            .entry-content
              h2.entry-title Down the hill 2
              p Ride as fast as you can but don't fall off your bike!
              br
              div(style='width: 100%;')
                div(style='width: 40%; margin-right: 35px; display: inline;')
                    a(href='https://play.google.com/store/apps/details?id=com.vorun.dth2&hl=en')
                        img.store-icon(alt='Google Play Store', src='google_play.png')
                | 
                div(style='width: 40%; display: inline;  margin-right: 35px; ')
                    a(href='https://itunes.apple.com/us/app/motorun/id1006427992?mt=8')
                        img.store-icon(alt='Apple App Store', src='app_store.png')
        // end dth2
        br
        br
        br
        br
        // start motorun
        .entry
            .entry-thumb
              p
                img(src='images/motorun.png')
            |     
            .entry-content
              h2.entry-title Motorun
              p Ride fast and hard. One of the most addictive physics based game ever made! And it's free! In this simple and fast-paced physics-based free motorbike game, tilt your device or use controls to lean your motorbike and touch the screen to accelerate/brake.
              br
              div(style='width: 100%;')
                div(style='width: 40%; margin-right: 35px; display: inline;')
                    a(href='https://play.google.com/store/apps/details?id=com.vorun.motorun2&hl=en')
                        img.store-icon(alt='Google Play Store', src='google_play.png')
                | 
                div(style='width: 40%; display: inline;  margin-right: 35px; ')
                    a(href='https://itunes.apple.com/us/app/motorun/id946635566?mt=8')
                        img.store-icon(alt='Apple App Store', src='app_store.png')
        // end motorun
        br
        br
        br
        br
        // start dwon the hill
        .entry
            .entry-thumb
              p
                img(src='images/dth.png')
            |     
            .entry-content
              h2.entry-title Down the hill
              p In this simple and fast-paced physics-based down the hill riding game, tilt your device to lean your bike and touch the screen to accelerate/brake. Ride as fast as you can but don't fall off your bike!
              br
              div(style='width: 100%;')
                div(style='width: 40%; margin-right: 35px; display: inline;')
                    a(href='https://play.google.com/store/apps/details?id=com.vorun.KrealX&hl=en')
                        img.store-icon(alt='Google Play Store', src='google_play.png')
                | 
                div(style='width: 40%; display: inline;  margin-right: 35px; ')
                    a(href='https://itunes.apple.com/us/app/down-the-hill/id831174735?mt=8')
                        img.store-icon(alt='Apple App Store', src='app_store.png')
                | 
                div(style='width: 40%; display: inline;  margin-right: 35px; ')
                    a(href='http://www.amazon.com/kreal-Down-the-hill/dp/B00KBJ57M6')
                        img.store-icon(alt='Amazon App Store', src='amazon_store.png')

 
        // end dwon the hill
        br
        br
        br
        br
        // start atv rally
        .entry
            .entry-thumb
              p
                img(src='images/atvrally.png')
            |     
            .entry-content
              h2.entry-title ATV Rally
              p Take up the challenge of this addictive and realistic physics based ATV driving game! Use your skills to drive your ATV over 9 terrains and  UNLIMITED challenging tracks, picking up Coins and Power Ups to customize your ride.
              br
              div(style='width: 100%;')
                div(style='width: 40%; margin-right: 35px; display: inline;')
                    a(href='https://play.google.com/store/apps/details?id=com.vorun.atvrally&hl=en')
                        img.store-icon(alt='Google Play Store', src='google_play.png')
                | 
                div(style='width: 40%; display: inline;  margin-right: 35px; ')
                    a(href='https://itunes.apple.com/us/app/motorun-lite/id993535431?mt=8')
                        img.store-icon(alt='Apple App Store', src='app_store.png')
        // end atv rally
        br
        br
        br
        br
        // start dotdrops
        .entry
            .entry-thumb
              p
                img(src='images/dd.png')
            |     
            .entry-content
              h2.entry-title DotDrops
              p Simply drop dots to connect. Many challenging and addicting levels while uncovering exciting new features along the way. 
              br
              div(style='width: 100%;')
                div(style='width: 40%; margin-right: 35px; display: inline;')
                    a(href='https://play.google.com/store/apps/details?id=com.vorun.KrealY&hl=en')
                        img.store-icon(alt='Google Play Store', src='google_play.png')
                | 
                div(style='width: 40%; display: inline;  margin-right: 35px; ')
                    a(href='https://itunes.apple.com/us/app/dotdrops/id913010812?mt=8')
                        img.store-icon(alt='Apple App Store', src='app_store.png')
        // end dotdrops
        br
        br
        br
        br
        // start motorun lite
        .entry
            .entry-thumb
              p
                img(src='images/motorunlite.png')
            |     
            .entry-content
              h2.entry-title Motorun Lite
              p In this simple and fast-paced physics-based free motorbike game, tilt your device or use controls to lean your motorbike and touch the screen to accelerate/brake. Unlimited tracks!
              br
              div(style='width: 100%;')
                div(style='width: 40%; margin-right: 35px; display: inline;')
                    a(href='https://play.google.com/store/apps/details?id=com.vorun.motorunlite&hl=en')
                        img.store-icon(alt='Google Play Store', src='google_play.png')
                | 
                div(style='width: 40%; display: inline;  margin-right: 35px; ')
                    a(href='https://itunes.apple.com/us/app/motorun-lite/id981774712?mt=8')
                        img.store-icon(alt='Apple App Store', src='app_store.png')
        // end motorun lite
        br
        br
        br
        br
        // start MonkeySling
        .entry
            .entry-thumb
              p
                img(src='images/monkeysling.png')
            |     
            .entry-content
              h2.entry-title MonkeySling
              p Slingshot Fun! Use his elastic tail to sling, shoot and fly through levels in 3 exciting worlds. Avoid monkey eating plants and bees, sling on to pegs and get as much bonuses and stars as you can. It's an awesome adventure! Got a great level idea? Design awesome new levels using 45+ interactive objects! Share with friends or with the whole world! ANYONE CAN PLAY WITH A BROWSER! 
              br
              div(style='width: 100%;')
                div(style='width: 40%; margin-right: 35px; display: inline;')
                    a(href='http://vorun.com/ms/chrome/')
                        img.store-icon(alt='web', src='html5.png')
                | 
                div(style='width: 40%; display: inline;  margin-right: 35px; ')
                    a(href='http://apps.microsoft.com/windows/en-us/app/monkey-sling-free/7ea299ad-fde4-470d-b439-e569f3858a60')
                        img.store-icon(alt='Windows Store', src='windows_store.png')
                | 
                div(style='width: 40%; display: inline;  margin-right: 35px; ')
                    a(href='https://chrome.google.com/webstore/detail/monkey-sling/egjgmkmeonifolofbboidbogekpgjnhj')
                        img.store-icon(alt='chrome App Store', src='chrome_web_store.png')
        // end MonkeySling

    a(href='https://github.com/vkreal/kreal-web')
        img(style='position: absolute; top: 0; right: 0; border: 0; z-index: 1031;', src='https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67', alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png')

    // Placed at the end of the document so the pages load faster
    script(src='https://code.jquery.com/jquery-2.1.3.min.js')
    script(src='http://fb.me/react-0.13.1.js')
    // pares jsx files and script tags
    script(src='http://fb.me/JSXTransformer-0.13.1.js')
    //  TODO: build this using jsx in nodejs
    script(type='text/jsx', src='src/application.js')
