/*
 * Global resets
 */

html {
  font-size: 18px;
}

body {
  font-size: 1rem;
  line-height: 1.4;
  background-color: #fafafa;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 300;
}

/*
 * Listing and pages
 *
 * Series of entries.
 */

.listing {
  max-width: 900px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.entry,
.page,
.list {
  margin-top:    1.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .listing {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }
  .entry,
  .page,
  .list {
    margin-top:    3rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 1170px) {
  .listing {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


/*
 * Showcase entries
 *
 * Thumbnails for the grid of entries on the homepage and individual post pages.
 */

/* Markdown override */
.entry p {
  margin-bottom: 0;
}

.entry-icon {
  position: absolute;
  display: block;
  text-align: center;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 6rem;
  color: #fff;
  text-shadow: 0 0 3rem rgba(0,0,0,.15);
  opacity: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  transition: opacity .2s linear;
  transition-delay: .05s;
}

.entry-thumb {
  position: relative;
  display: block;
  border-radius: 3px;
}
.entry-thumb img {
  display: block;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 6px;
}
.entry-thumb:hover img {
  
}
.entry-thumb:hover .entry-icon {
  opacity: 1;
}

.entry-content {
  text-align: center;
}
.entry-content p
{
  font-family: "Open Sans",arial,sans-serif;
  font-size: 16px;
  display: block;
  margin-bottom: 12px;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.entry-title {
  font-family: "Oswald",Arial, sans-serif;
  margin-top: 1rem;
  margin-bottom: .25rem;
}
.entry-title a {
  color: #3a3a3a;
}
.entry-title a:hover {
  color: #1a1a1a;
}
.entry-date {
  font-weight: 300;
  color: #8a8a8a;
}


.related {
  padding-top: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-top: 1px solid #e5e5e5;
}
.related-title {
  font-weight: 300;
}
.related .entry {
  margin-top: .5rem;
  margin-bottom: 1rem;
}
.related p {
  font-size: .8rem;
}



/*
 * Footer
 */

.footer {
  margin: 30px 0;
  padding: 20px 15px;
  color: #999;
  text-align: center;
}
.footer p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 30px;
}


/*
 * List page
 */

.list {
  padding-left: 0;
  list-style: none;
}
.list li {
  display: block;
  margin-bottom: 5px;
}
.list span {
  float: right;
  color: #999;
}



/** OTHER STUFF */


 .app-section {
    margin-top: 100px;
    padding: 60px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    color: inherit;
    background-color: #dede;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    font-family: "Oswald",Arial, sans-serif;
    text-transform: uppercase;
    }

    .marketing-message {
    margin-top: 100px;
    padding: 60px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    color: inherit;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    font-family: "Oswald",Arial, sans-serif;
    text-transform: uppercase;
    }
    .marketing-message h1 {
    color: #7bb932;
    border-color: #7bb932;
    text-align: center;
    font-weight: 400 !important;
    }
    .navbar-inverse .navbar-inner {
    padding-top: 8px;
    padding-bottom: 8px;
    background-image: linear-gradient(to bottom, #262626, #262626);
    }
    .img-responsive {
    margin: 0 auto;
    }
    .center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    }
